<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview | Cheapshot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"
  </head>
  <body>
    <div>Currently connected phones: {{ num_phones }}</div>
    <a href="/phones/{{ num_phones + 1 }}"
      >Connect as phone #{{ num_phones + 1 }}</a
    >
    <a href="/manage">Go to management page</a>
    <a href="/capture">Go to capture page</a>
  </body>
</html>
